<!DOCTYPE html>
<!-- 구글과 나이키// 모든 앵귤러 js코드는 ng-app 지시자로 감싸야한다.
ng-app의 의미는 이 태그안에 모든 것이 앵귤러 어플리케이션으로 처리된다는 뜻이다.
즉 앵귤러 영역을 지정하는 것이다.
ng-app 지시어는 앵귤러를 로드하고 초기화시킨다. -->
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="/angular.min.js"></script>
  </head>
  <body ng-app='test'>
    <!-- 데이터 바인딩 방법 중 하나, ng-model 지시자는 input 요소와 바인딩된다. -->
   <input type="text" ng-model="x">
   <!-- input 태그에 값이 입력되면 p 태그에 자동으로 업데이트된다. 즉 ng-model 디렉티브로
     input이 양방향 바인딩 된것 -->
   <p>{{x}}</p>

   <div ng-controller='testControls'>
   <span>ID : </span>
   <input type="text" ng-model="id" ng-keyup='IdCheck()' ng-required='true'>
   <p ng-show="idShow">required</p>
   <br>
   <!-- email validation -->
   <span>Email : </span>
   <input type="text" ng-model="email" ng-keyup='emailCheck()' ng-required='true'>
<!-- <span ng-show='test.add.$error.email'>?</span> ng-show 알아볼것 -->
   <br>
   <p ng-show="show">required</p>
   <span>Password : </span>
    <input type="password" ng-model="pw" ng-required='true' ng-keyup='pwCheck()'>
   <p ng-show='pwShow'>required</p>
   </div>
  </body>
  <script type="text/javascript">
    var app = angular.module('test',[]);

    app.controller('testControls', function($scope){

      $scope.IdCheck = function() {
        let id = $scope.id;
        let check = validationPW(id, {
          length:   [6, 20],
          lower:    1,
          upper:    0,
          numeric:  0,
          special:  0,
          badWords: [],
          badSequenceLength: 4
        });
        if (check) {
          $scope.idShow = false;
        } else {
          $scope.idShow = true;
        }
      }

      $scope.emailCheck = function() {
        let val = $scope.email;

        let re = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        if (val.match(re)) {
          $scope.show = false;
        } else {
          $scope.show = true;
        }
      }

      $scope.pwCheck = function() {
        let pw = $scope.pw;
        let check = validationPW(pw, {
          length:   [8, Infinity],
          lower:    1,
          upper:    0,
          numeric:  1,
          special:  1,
          badWords: [],
          badSequenceLength: 4
        });
        if (check) {
          $scope.pwShow = false;
        } else {
          $scope.pwShow = true;
        }
      }
    });

    // password check
    function validationPW(pw, options) {
      var o = {
        lower: 0,
        upper: 0,
        alpha: 0,
        numeric: 0,
        special: 0,
        length: [0, Infinity],
        custom: [],
        badWords: [],
        badSequenceLength: 0,
        noQwertySequences: false,
        noSequential: false
      };

      for (var property in options) {
        o[property] = options[property];
      }

      var re = {
        lower: /[a-z]/g,
        upper: /[A-Z]/g,
        alpha: /[A-Z]/gi,
        numeric: /[0-9]/g,
        special: /[\W_]/g
      },
      rule, i;

      // enforce min/max length
      if (pw.length < o.length[0] || pw.length > o.length[1]) {
        return false;
      }

      // enforce lower/upper/alpha/numeric/special rules
      for (rule in re) {
        if ((pw.match(re[rule]) || []).length < o[rule]) {
          return false;
        }
      }

      // enforce word ban (case insensitive)
    for (i = 0; i < o.badWords.length; i++) {
      if (pw.toLowerCase().indexOf(o.badWords[i].toLowerCase()) > -1) {
        return false;
      }
    }

    // enforce the no sequential, identical characters rule
    if (o.noSequential && /([\S\s])\1/.test(pw)) {
      return false;
    }

    // enforce alphanumeric/qwerty sequence ban rules
    if (o.badSequenceLength) {
     var lower   = "abcdefghijklmnopqrstuvwxyz",
      upper   = lower.toUpperCase(),
      numbers = "0123456789",
      qwerty  = "qwertyuiopasdfghjklzxcvbnm",
      start   = o.badSequenceLength - 1,
      seq     = "_" + pw.slice(0, start);
     for (i = start; i < pw.length; i++) {
      seq = seq.slice(1) + pw.charAt(i);
      if (
       lower.indexOf(seq)   > -1 ||
       upper.indexOf(seq)   > -1 ||
       numbers.indexOf(seq) > -1 ||
       (o.noQwertySequences && qwerty.indexOf(seq) > -1)
      ) {
       return false;
      }
     }
    }

    // enforce custom regex/function rules
    for (i = 0; i < o.custom.length; i++) {
     rule = o.custom[i];
     if (rule instanceof RegExp) {
      if (!rule.test(pw))
       return false;
     } else if (rule instanceof Function) {
      if (!rule(pw))
       return false;
     }
    }

    // great success!
    return true;
    }
  </script>
</html>
